:root {
    --dracula-green:      #50fa7b;
    --dracula-purple:     #bd93f9;
    --dracula-pink:       #ff79c6;
    --dracula-cyan:       #8be9fd;
    --dracula-yellow:     #f1fa8c;
    --dracula-orange:     #ffb86c;
    --dracula-background: #282a36;
    --dracula-contrast:   #383A59;
    --dracula-white:      #ffffff;
}